.group:focus .group-focus\:ring-white {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(15 15 15 / var(--tw-ring-opacity));
}



.custom-dropdown {
  padding-left: 0 !important; /* Remove left padding */
  background-color: blue;
}

ul {
  padding-left: 1px !important;
 }

 .carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.group:focus .group-focus\:ring-white {
  background-color: rgb(95, 95, 95, 0.5) !important;
  
}

.bg-white\/30 {
  background-color: rgb(95, 95, 95, 0.5) !important;
  
}

/*

[aria-label="Slide 3"] {

  color: black;
  background-color: rgb(95, 95, 95, 0.5) !important;

}

[aria-label="Slide 2"] {

  color: black;
  background-color: rgb(95, 95, 95, 0.5) !important;

}

[aria-label="Slide 1"] {

  color: black;
  background-color: rgb(95, 95, 95, 0.5) !important;

}

.-translate-x-1\/2{
  background-color: rgb(95, 95, 95, 0.5) !important;
} 

*/