.group:focus .group-focus\:ring-white {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(15 15 15 / var(--tw-ring-opacity));
}
/* 
.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000000" viewBox="0 0 8 8"%3E%3Cpath d="M6 1.5L1.5 4 6 6.5V1.5z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23000000" viewBox="0 0 8 8"%3E%3Cpath d="M2 1.5v5l4.5-2.5L2 1.5z"/%3E%3C/svg%3E');
} */
    /* ENDS ---- Carousel Slides on the Homepage */